<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- HugePoll Site -->
    <add key="Url" value="http://automatizacion.herokuapp.com/durena/appointmentScheduling" />
    <add key="Browser" value="Chrome" />
    <add key="ValidGoogleEmailPassword" value="Test1a2a" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="MSTest" />
  </specFlow>
</configuration>